<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet/less" type="text/css" href="../Content/checkers.less" />
    <script src="../Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="../Scripts/less.min.js" type="text/javascript"></script>
    <script>
        $(document).bind('ready', function () {
            $('body').bind('content-loaded', function (e) {
                PageRegistration();
            });
            $('body').trigger('content-loaded');
        });
    </script>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
